[2015-03-16 16:28] Flet opened #1 "Good Stuff"
Hey @bcomnes this is great! I like the idea of formatting on save.

I'm not sure what goals you have for this project, but the [SublimeLinter-contrib-standard](https://github.com/Flet/SublimeLinter-contrib-standard) plugin has the ability to format text via shortcut key/cmd pallette (leveraging some convenient methods in SublimeLinter).

If you would like to combine efforts on formatting, I would

[2015-03-16 17:01] bcomnes commented on #1
I totally had no idea you had enabled that.  (I have it installed and use it on the reg).  I'll try it out!

[2015-03-16 19:33] bcomnes commented on #1
I didn't realize how insane it is to shell out to applications in userspace in Sublime Text.  Lets stick with all the nice util things SublimeLinter brings to the table.

[2015-04-01 21:56] #1 closed

[2015-04-01 21:58] Flet opened #2 "Default key binding for format"
Any feeling on default key bindings similar to the Sublimlinter format? Or would you rather let the user implement it themselves via user key bindings?
`ctrl+alt+f`

[2015-04-01 22:00] Flet opened #3 "Get on Package Control"
Lets get this on Package Control :)

https://packagecontrol.io/docs/submitting_a_package

[2015-04-02 00:09] bcomnes commented on #3
@Flet++  Happy to have you on board!  Let me bring over all the improvements from the linter and we can get this out there.

[2015-04-02 00:10] bcomnes commented on #2
I'm neutral on this, since I typically stick with format on save.  Whatever you think is best.

[2015-04-03 00:21] bcomnes commented on #2
Using `Ctl-alt-f`.  Reopen if there are issues.

[2015-04-03 00:21] #2 closed

[2015-04-03 00:22] bcomnes commented on #3
I think I have everything in place.  Working on getting this published.

[2015-04-03 02:42] Flet commented on #3
For reference: https://github.com/wbond/package_control_channel/pull/4283

[2015-04-03 02:48] Flet opened #5 "Missing LICENSE file"
When selecting menu item `Preferences > Package Settings > Standard Format > LICENSE (MIT)`
getting a blank LICENSE file in Sublime and an error in the console:
`Unable to open /home/flet/dotfiles/sublime/sublime-text-3.configsymlink/Packages/StandardFormat/LICENSE`

So, adding a LICENSE file should fix!

[2015-04-03 03:32] bcomnes opened #6 "Display a message when standard-format isnt found"
Display a message when `standard-format` isnt found.  Minimal interruption preferred.

[2015-04-03 03:33] bcomnes opened #7 "Fix PATH searching on windows"

[2015-04-03 03:34] bcomnes opened #8 "Implement and document how to supplement the PATH"

[2015-04-03 03:43] bcomnes opened #9 "Support a custom executable?"
I was thinking it might be a nice easter egg/debugging feature to support a custom executable.  That way you could test an alternate formatter that follows a similar api.

[2015-04-03 03:49] bcomnes opened #10 "Conservative mode?"
You should never run `standard-format` on a project that does not follow that style unless explicitly converting it to use `standard` (or whatever).  Experimenting with some kind of pre-check to see if a file has more than (5,10,25,n?) `standard` violations might allow us to prevent accidental `format_on_save`'s.  Something I would be interested experimenting with.

[2015-04-03 14:57] bcomnes opened #11 "Extra newlines inserted during selection formatting"
When formatting sections of text (rather than the whole document), extra newlines are inserted below each formatted region.

We can either:

- Filter the new lines from within the plugin.
- Investigate adding a flag to `standard-format` that disables the end of document newline e.g. snippet formatting.

Either way, this still leaves the edge case of how to handle selection formatting that includes

[2015-04-03 22:36] Flet commented on #7
Does not seem to work in Windows. No formatting occurs and this error displays in the console:
[code]

[2015-04-03 22:47] bcomnes commented on #7
I'm not familiar with how windows python searches for executables.  My guess is that it will have  to check the platform and do special path search.

[2015-04-03 23:09] bcomnes opened #12 "Adapt to removal of automatic STDIN detection"

[2015-04-03 23:10] bcomnes commented on #12
Via https://github.com/maxogden/standard-format/pull/48

[2015-04-03 23:13] Flet commented on #12
Thought of this when testing on Windows too, had to doublecheck that it was not yet published.

[2015-04-03 23:16] bcomnes opened #13 "Fallback to standard --format -/--stdin if standard-format isnt found"
https://github.com/feross/standard/issues/72
https://github.com/maxogden/standard-format/issues/34

[2015-04-05 00:09] bcomnes commented on #3
This takes a while!  Is this normal?

[2015-04-05 00:21] #5 closed

[2015-04-05 03:18] bcomnes commented on #6
Closed in https://github.com/bcomnes/sublime-standard-format/commit/6080ae7bdfd7bc1da765886e4ff4cf3e836d8ece

[2015-04-05 03:18] #6 closed

[2015-04-05 03:18] bcomnes commented on #9
Closed in https://github.com/bcomnes/sublime-standard-format/commit/6080ae7bdfd7bc1da765886e4ff4cf3e836d8ece

[2015-04-05 03:18] #9 closed

[2015-04-05 03:18] bcomnes commented on #12
Closed in https://github.com/bcomnes/sublime-standard-format/commit/6080ae7bdfd7bc1da765886e4ff4cf3e836d8ece

[2015-04-05 03:18] #12 closed

[2015-04-05 03:19] bcomnes commented on #13
Closed in https://github.com/bcomnes/sublime-standard-format/commit/6080ae7bdfd7bc1da765886e4ff4cf3e836d8ece

[2015-04-05 03:19] #13 closed

[2015-04-05 03:20] bcomnes commented on #8
Resolving https://github.com/bcomnes/sublime-standard-format/issues/8 before this should provide better insight on how to address this issue.

[2015-04-06 15:31] bcomnes commented on #3
Woop! Its in

[2015-04-06 15:31] #3 closed

[2015-04-07 18:38] bcomnes commented on #7
Wow, quite a few windows installs so far.  I'll prioritize this.

[2015-04-11 23:52] bcomnes commented on #7
I fixed the path searching on windows: https://github.com/bcomnes/sublime-standard-format/commit/fdc51adebb18b686e285ac1398b304d4707c7df7 but yech.. we have more problems.

[2015-04-11 23:53] bcomnes opened #14 "Prevent cmd.exe window from popping up"
On windows, we are getting a cmd.exe window popping up
![](https://farm8.staticflickr.com/7684/16927179400_2f413eb613_b.jpg)

[2015-04-12 00:03] bcomnes opened #15 "Resulting mixed CR NL after formatting."
Ideas of the source of this:
- Windows CR/NL settings in git
- Something inside `standard-format`
- Something inside sublime-text
Saving it compounds the issue further as sublime text replaces them
![](https://farm8.staticflickr.com/7630/17088782316_d76251bc73_o.png)

[2015-04-12 00:04] #7 closed

[2015-04-12 00:13] bcomnes opened #16 "Windows Support"
Overall windows support tracked in this ticket (including upstream issues).  Pulling windows support now.

- [x] [Remove windows support (temporary) ](https://github.com/wbond/package_control_channel/pull/4308)
- [x] [Resulting mixed CR NL after formatting](https://github.com/bcomnes/sublime-standard-format/issues/15) #15
- [x] [Prevent cmd.exe window from popping up](https://github.com/bcomnes/su

[2015-04-12 00:59] bcomnes commented on #15
Looks like its related to the semicolon removal.  Very strange.  Looking into it.

[2015-04-13 15:51] bcomnes commented on #14
Hints from IRC:

19:07 bret FichteFoll: ack, ok ill look into it.  do you know any examples?
19:07 bret or is it in the python docs somewhere?
19:07 FichteFoll in the docs somewhere
19:08 FichteFoll check for subprocess.Popen and then the startupinfo parameter
19:08 bret FichteFoll: ok will do
19:08 bret FichteFoll++ ty
19:08 FichteFoll which should have a link to the subprocess.STARTUPINFO class,

[2015-04-13 15:54] Flet commented on #14
:laughing:

[2015-04-13 16:35] Flet commented on #14
for reference... from SublimeLInter3
https://github.com/SublimeLinter/SublimeLinter3/blob/1e3741fa144ac3348513df17dc9240ed12a07541/lint/util.py#L1331

[2015-04-13 16:36] Flet commented on #14
Specifically:

[code]

[2015-04-13 16:58] bcomnes commented on #14
Nice, just got part of that in, this l looks to be a bit more comprehensive.

[2015-04-13 16:58] Flet commented on #14
Cool. I just pushed this into `win-fix` branch too, but looks like you beat me :)

[2015-04-13 17:01] bcomnes commented on #15
Possibly relevant:
![](https://farm9.staticflickr.com/8747/17134850072_5dba76e7d9_o.png)'

It defaults to option one.  Definitely going to need to test against at least the first two.  Option 3 is terrible.

[2015-04-13 17:06] bcomnes commented on #14
Concurrent programming problems ;P  I have to step away for a moment, so free to push this in if you have time.

[2015-04-13 19:30] Flet commented on #14
This should be fixed with https://github.com/bcomnes/sublime-standard-format/commit/c0e5d22aa05abff7f3c65c3d0953911ff7bab3b5

Verify when you get a chance? Works on my Windows box.

[2015-04-13 19:35] bcomnes commented on #14
Woo! Flet++  Will review this afternoon sometime.

[2015-04-16 17:40] bcomnes commented on #14
Looks like this is done

[2015-04-16 17:40] #14 closed

[2015-04-16 17:40] bcomnes commented on #15
Leaving this open for now since there are more details I want to explore on this.

[2015-04-16 17:41] bcomnes commented on #16
Going to re-add windows support now that we support windows.

[2015-04-16 17:51] bcomnes commented on #16
https://github.com/wbond/package_control_channel/pull/4335 Re-adding windows support

[2015-04-16 19:32] bcomnes commented on #16
Wowzers.  Not really sure what happened to the history for a second.  Should be all good

[2015-04-16 20:06] #16 closed

[2015-04-17 17:08] bcomnes opened #18 "Getting error popups even when loud_errors is set to false"
Ran into this on windows.

[2015-04-23 03:14] Flet commented on #15
@bcomnes I think this is the problem:
https://github.com/maxogden/standard-format/blob/master/index.js#L21

`os.EOL` may not actually be the same thing used in the project. Folks who use git's `core.autocrlf` for example may want just LF.

So, one solution may be to change the `standard-format` regex regex for semicolon removal to use a "positive lookahead" and just replace with empty, leave the e

[2015-04-23 03:20] bcomnes commented on #15
I think you nailed it.  Nice!   Removing semicolons without touching line endings sounds like the solution.

[2015-04-23 03:23] Flet commented on #15
OK, incoming PR shortly.

[2015-04-23 03:25] Flet commented on #15
ah shoot, this is still in there too:
[code]

[2015-05-03 21:15] bcomnes opened #19 "Fix output of standard fallback"
Its replacing the code with standard output.

[2015-05-04 20:28] mattdesl opened #20 "Nothing happens?"
I did the following in ST3:

- install StandardFormat
- `npm isntall -g standard standard-format`
- Run format with Cmd + Shift + P then `Standard Format: Format current file`

Nothing happens, no error in ST3 console, also enabled loud errors and still no errors. Any ideas?

Thanks
:smile:

[2015-05-04 20:32] bcomnes commented on #20
What OS?  Did you try restarting ST3?

[2015-05-04 20:50] mattdesl commented on #20
Yeah tried restarting. OS X 10.10.1
`standard --format` from CLI works
Also sublime lint standard plugin works for me.

Cheers
Sent from my iPhone

[2015-05-04 20:52] bcomnes commented on #20
What do you get for  `$ which standard-format` in the mac terminal?

[2015-05-04 21:32] mattdesl commented on #20
`/Users/matt/npm/bin/standard-format`

I am using the `npm set config prefix` [as recommended by them](https://docs.npmjs.com/getting-started/fixing-npm-permissions) for my global installs. In my own tools I have used [resolved-npm-which](https://www.npmjs.com/package/resolve-npm-which) to find globals across different environments, *but* it isn't bullet-proof since there's so many layers and diff

[2015-05-04 21:36] bcomnes commented on #20
I know sublime linter goes to pretty long lengths to extract the users $PATH to search for the correct tools.  We only search in common locations at the moment (e.g. /usr/local/bin).  The quickest work around right now would be a symlink:

[code]

I'll prioritize #8 sometime this week so that you can supplement your search path in your config file and avoid the symlink mess.  Sorry about that!  I'

[2015-05-04 22:12] z0mt3c commented on #8
nvm support would be nice

[2015-05-04 22:17] bcomnes commented on #8
@z0mt3c can you create a new issue for that?

[2015-05-04 22:21] z0mt3c opened #21 "nvm support"
The path is being modified in case of nvm - therefore "/usr/local/bin", "/usr/local/sbin" are not sufficient ;-)
In my case would be ~/.nvm/versions/io.js/v1.8.1/bin (right now).

[2015-05-04 22:23] bcomnes commented on #21
I'll have to mess around with nvm to figure this out since I don't normally use it.

Would it be enough to statically reference an nvm path e.g. `~/.nvm/versions/io.js/v1.8.1/bin` or is more dynamic behavior required? e.g. querying nvm for some currently active version of node/iojs?

[2015-05-04 22:27] z0mt3c commented on #21
Depends if you care about "out-of-the-box" experience :-) Works quiet well for the linter plugins...

[2015-05-04 22:31] bcomnes commented on #21
I'm still looking for a way to pull in a full $PATH from userspace that I'm happy with.  Revisiting how sublime linter does it might be worthwhile.  For now, I think starting with a well-known search path + adding a custom path will work till we get that worked out.  I'll play around with nvm sometime soon and see what else we can do.

[2015-05-04 22:36] Flet commented on #21
Yeah @bcomnes was just poking around SL3's repo
https://github.com/SublimeLinter/SublimeLinter3/blob/1e3741fa144ac3348513df17dc9240ed12a07541/lint/util.py#L1079

[2015-05-04 22:38] bcomnes commented on #21
Would have been great if they made their path searching stuff a [ST dependency](https://packagecontrol.io/docs/dependencies)

[2015-05-08 20:48] mattdesl commented on #20
Cool, works now after link. :+1:

[2015-05-08 20:51] mattdesl commented on #11
I find myself frequently hitting Cmd + S while I still have some text highlighted. IMHO it would be better only to do selection formatting when you explicitly run "Format This Selection" rather than running it on Cmd + S.

[2015-05-08 20:51] sklise commented on #20
I experienced the same thing, @bcomnes `ln -s` worked for me too. Thanks!!!

[2015-05-08 21:16] bcomnes commented on #20
Ok, anyone else who does the link, post here.  I'll send you a courtesy reminder to remove that link once I get a fix in place.

[2015-05-08 21:17] bcomnes commented on #11
I'm kinda with you there.  Maybe we can make it an option with a sane default.

[2015-05-08 21:43] Flet commented on #11
I agree that format on save should always format the whole file.

[2015-05-09 23:13] bcomnes opened #22 "Automatically replicate user environment"
A bit of a loftier goal than custom path searching.  Lets keep work on this in this issue.

- https://github.com/SublimeLinter/SublimeLinter3/blob/1e3741fa144ac3348513df17dc9240ed12a07541/lint/util.py#L1079

[2015-05-09 23:16] bcomnes commented on #21
Related to https://github.com/bcomnes/sublime-standard-format/issues/22 but we can leave this open until nvm peeps are happy with the arrangement.

[2015-05-10 00:30] bcomnes opened #23 "Ignore selection when formatting on save"

[2015-05-10 00:32] #18 closed

[2015-05-10 00:32] #8 closed

[2015-05-10 00:32] #20 closed

[2015-05-10 00:32] #23 closed

[2015-05-10 00:33] bcomnes commented on #20
@sklise @mattdesl Please remove those links and specify the search path in the plugin settings and let me know how that works for you.

I broke out other concerns in this issue into their own issues for now.

[2015-05-10 00:35] bcomnes commented on #11
Ok, selection is ignored with format ons save.

[2015-05-10 00:53] bcomnes commented on #19
Hrmm... its not doing it anymore.  I wonder if I was just running an older version of standard.

[2015-05-10 00:53] #19 closed

[2015-05-10 02:47] Flet commented on #11
Excellent!

[2015-05-11 18:24] sklise commented on #20
:+1: :boom: :confetti_ball: thank you!

[2015-05-18 00:20] Flet opened #24 "configurable formatter cmd"
Hey @bcomnes are you opposed to making the formatter cmd configurable? It would be nice to perhaps support semistandard-format with this same plugin

[2015-05-18 00:33] bcomnes commented on #24
I believe it already is!  Check the default cofig. As long as it accepts a stdin > stdout interface, it should work.   Fully open to fixing any barriers.

[2015-05-18 01:09] Flet commented on #24
Ah cool I will check :)

[2015-05-18 01:13] bcomnes commented on #24
Pass in strings and arguments as a string array to the (I think) command field.  Mobile ATM.  Can check later

[2015-05-19 17:09] mattdesl opened #25 "more strictly disable format on save"
Is there a way to tweak this plugin so it _never_ formats on save? Or to remove the UI from the Cmd + Shift + P?

I'm often finding myself accidentally enabling it when using other menu options (like "Lint This File" or "Format HTML"), and it has some disastrous consequences on projects not using Standard.

[2015-05-19 19:21] bcomnes commented on #25
Yikes. Ctl-z should always have your back, disable auto-format, re-save, and git as a last resort.  Also, you may look into enabling autolinting to avoid unnecessary command pallet interactions.

We have been discussing something similar in https://github.com/bcomnes/sublime-standard-format/issues/10 and I can try to implement an experimental version soon.

Have you seen other plugins that modify

[2015-06-04 03:26] zhea55 opened #26 "can't disable lint in html file"
I like the standard format, it makes my code beautiful

But my html file has some ugly javascripts.

i dont want standard-format to lint that

Can i disable lint in html, just work for js files?

![qq 20150604112112](https://cloud.githubusercontent.com/assets/7816215/7976298/d5d5d42e-0aab-11e5-85d1-c5f7cf2fe393.png)

[2015-06-04 03:35] zhea55 commented on #26
[code]

I add html to excludes, the lint error still there

how to remove these lint errors in html files?

[2015-06-04 16:35] Flet commented on #26
Actually, I think functionality is part of `SublimeLinter-contrib-standard`

https://github.com/Flet/SublimeLinter-contrib-standard/blob/master/linter.py#L27

[2015-06-04 16:41] Flet commented on #26
That being said, you can exclude all html files this way:

1. In Sublime, go to Preferences > Package Settings > SublimeLinter > Settings - User
(or via command pallate and type sublimelinter settings user)

2. Find the `standard` key under `linters` and add an item to the `excludes` array:

[code]

That will ensure no html is linted!

[2015-06-04 17:21] bcomnes commented on #26
:+1: Sounds right @Flet Thanks!

[2015-06-05 02:28] zhea55 commented on #26
@Flet I do as you said, but after i save the settings, nothing is changed(Tried restart sublime)

It's not working, the linter still lint html files.

Can you help me?

![qq 20150605102058](https://cloud.githubusercontent.com/assets/7816215/7998340/5850a7aa-0b6d-11e5-8dc8-09b17c3080fe.png)

[2015-06-05 09:06] zhea55 commented on #26
@Flet  Thanks!!!

[2015-06-05 09:06] #26 closed

[2015-06-06 00:59] Sheraff opened #27 "Add JavaScript (DOM) syntax for compatibility with Java​Script Ultimate"
I like Feross' idea of the standard format. And I like JoshuaWise's reimplementation of the Javascript syntax in sublime text. But sometimes I get an alert telling me it doesn't know the Javascript (DOM) syntax.

![screen shot 2015-06-06 at 03 07 12](https://cloud.githubusercontent.com/assets/1325721/8017562/3a694c24-0bf9-11e5-8b3f-ab3512369ce1.png)

[2015-06-06 02:14] Sheraff opened #28 "codebreaking loophole"
The following code, when formatted through *sublime-standard-format*
[code]
becomes
[code]
Thus not being executable anymore... From trying a few things out, it seems that whenever the body of `if` is not contained within brackets but that of `else` is, this happens.

[2015-06-06 05:06] bcomnes commented on #28
yikes!  in the meantime you can return undefined.  Can you open this up at https://github.com/maxogden/standard-format ?  It might even be an upstream issue with esformatter.  Will have to look into it.

[2015-08-05 04:38] bcomnes opened #30 "Decide how to format based on package.json"
:droplet: **Shower thought**: What if this plugin decided on which linter to use based on package.json?

Originally I pondered adding a formatter field to package.json, but we don't need that.   It should be some kind of dependency for the project using it which essentially offers up consent to autoformatting.

- This would solve our pathing issues
- We could use formatters that follow the same in

[2015-08-05 04:42] Flet commented on #30
Yeah I've done the dance between `standard` and `semistandard` and its a little tiresome... This is a good idea!

How can it be done reliably?

[2015-08-05 04:47] bcomnes commented on #30
Re-implement package.json discovery in python based on project folders (or shell out to JS)?  It might get a bit logically harry but I think we can manage it.

No package.json you ask?  Why are you developing js without a package.json :smiling_imp:

But seriously, in that case Leave the keyboard shortcuts/pallet commands active with a command pallet formatter selector maybe?

[2015-08-05 05:36] Flet commented on #30
What would be the indicator in `package.json` that something is `standard` or `semistandard` or `doublestandard`? :)

[2015-08-06 21:35] bcomnes commented on #30
The indicator would be that it has one of those packages installed.

[2015-09-06 20:10] leecade opened #31 "supports `parser` config in package.json?"
Hope that read config from `package.json` what `standard` does

[code]

Thanks, great plugin!

[2015-09-07 20:24] bcomnes commented on #31
I don't think those entries existed since I last updated the plugin.  I have some big plans for package.json parsing soon, but It will have to come after the ES6 issues are sorted out with `standard-format`.

If you are feeling ambitious, patches are welcome, otherwise I will get to it as soon as I am able.

[2015-09-21 17:51] mattdesl opened #32 "No longer triggering"
I've been using this for a while and I'm quite happy. Not sure what has changed in the last two weeks (maybe node version? npm paths?) but I can't get this working in SublimeText3 any more.

I am using the following StandardFormat.sublime-settings:

[code]

I have `npm install -g standard standard-format`. When I use `which standard-format` I am getting the following:

[code]

Which is the same as

[2015-09-21 18:28] bcomnes commented on #32
A slight usability issue on the plugins part:  PATH: is actually an array of paths. Try this:

[code]

I recently stared using linux DE's and am in the same boat and would love to improve this situation to make it "just work" better.

[2015-09-22 02:27] mattdesl commented on #32
Brilliant, thanks! :tada:

[2015-10-24 19:09] leecade opened #34 "Add `node_modules/.bin` as the default path"
This make a local install way works

`npm install standard-format --save-dev`

[2015-10-24 19:47] #32 closed

[2015-10-24 19:55] bcomnes opened #35 "Use .package.json as primary source of truth"
It's clear that the global install approach is not ideal.  (Relies on well known locations and PATHs, requires a global install of tools etc).

I want to switch over to using project level package.json's to decide which standard-format bin to use, and when to use it.

Here are the design goals I want to hit:
- [ ] Walk the file system to find the corresponding `package.json` for a given file or pr

[2015-10-24 19:56] bcomnes commented on #30
Closing in favor of https://github.com/bcomnes/sublime-standard-format/issues/35

[2015-10-24 19:56] #30 closed

[2015-10-24 20:17] bcomnes commented on #34
Done!  Tagged, should be out within the hour.  We can do this until someone finds the time to implement https://github.com/bcomnes/sublime-standard-format/issues/35

[2015-10-24 20:21] bcomnes commented on #28
Upstream closed, so closing here as well.  Please let me know if there are any outstanding issues and I can reopen.

[2015-10-24 20:21] #28 closed

[2015-10-24 20:26] bcomnes commented on #27
CodeFormatter sounds like another plugin complaining.  https://github.com/akalongman/sublimetext-codeformatter perhaps?

I would be carful running multiple transforms from different plugins, as they may interact weird.

Standard Format relies on the file extension primarily.  The only time it references the language syntax is when the file is not saved and has no file extension yet:  https://githu

[2015-10-24 20:26] #27 closed

[2015-10-24 20:28] bcomnes commented on #21
Closing this in favor of https://github.com/bcomnes/sublime-standard-format/issues/35

Also take note that in the meantime, the plugin now searches your local node_modules folder and the home folder.  I am happy to add another default search path to the plugin specific to nvm.

[2015-10-24 20:29] #21 closed

[2015-10-24 20:29] bcomnes commented on #22
Closing in favor of https://github.com/bcomnes/sublime-standard-format/issues/35

[2015-10-24 20:29] #22 closed

[2015-10-24 20:30] bcomnes commented on #10
Closing in favor of https://github.com/bcomnes/sublime-standard-format/issues/35

[2015-10-24 20:30] #10 closed

[2015-10-24 20:30] bcomnes commented on #11
Hasn't been an issue for me in a while, so closing.

[2015-10-24 20:30] #11 closed

[2015-10-24 20:31] bcomnes commented on #15
This has been smooth sailing for me so far.

[2015-10-24 20:31] #15 closed

[2015-10-24 21:13] Flet commented on #35
Sounds cool!

[2015-10-24 22:11] Flet commented on #35
Go @bcomnes go!

[2015-10-25 12:06] leecade commented on #35
great

[2015-10-25 12:11] leecade commented on #35
local install and read config from package.json is a great practice. Because, Maybe my global `standard-format` version is v1.0, but my team rule need `standard-format` v2.0.

[2015-10-26 00:59] bcomnes commented on #35
Exactly.  It's usually fine when working alone,  but its bad practice to have different team members running different versions of devDependencies. I've been burned by that a few times recently.

[2015-10-30 19:16] leecade commented on #34
@bcomnes thanks your work,  I tried `v4.0.1` may not works

still show this error in console pannel

[code]
OSX 10.11
node 5.0.0
npm 3.3.10
Sublime Text 3095
[code]

[2015-10-30 23:01] bcomnes commented on #34
Can you

[2015-11-01 23:20] bcomnes commented on #34
@leecade

I can't seem to reproduce.  Can you confirm the search path from your console?  Search for:

[code]

Also what OS is this happening on?

[2015-11-02 06:52] leecade commented on #34
The search path:

[code]

i am sure `./node_modules/.bin/standard-format` exist

[code]

Is it helpful? yes on `OSX 10.11 / Sublime Text 3095` a bit strange, the search path include `./node_modules/.bin` but can not find `standard-format`

[2015-11-02 07:03] leecade commented on #34
@bcomnes I found that

[code]

The absolute path works fine.

but the relative path not work, like:

[code]

[2015-11-03 12:11] aayushkapoor206 opened #37 "Which theme are you using?"

[2015-11-03 18:20] bcomnes commented on #37
https://github.com/kkga/spacegray for the ui

Tron legacy for coloring http://daylerees.github.io/ (its a pain to install... requires http://colorsublime.com/... Someone should totally make it a standalone sublime plugin).

https://github.com/Benvie/JavaScriptNext.tmLanguage for extended javascript syntax highlighting.

[2015-11-03 18:55] aayushkapoor206 commented on #37
Thanks! It's really awesome!

[2015-11-03 18:55] #37 closed

[2015-12-02 05:18] leesei commented on #24
The config works, I suppose this can be closed.

[code]

[2015-12-02 05:19] leesei commented on #25
With the default option of "format_on_save" as false I suppose this can be closed.

[2015-12-02 05:25] leesei opened #38 "Format not applied if command exit code is not zero"
I use `semistandard` as my formatter:

[code]

In console, `semistandard` will format `a.js` and return `1` reporting some linting errors.

[code]

StandardFormat will prompt the error and refuse to update the file.
I bring @Flet to this thread to see if this is the expected behavior.

[2015-12-02 15:30] bcomnes commented on #38
@leesei do you have a code snippet that triggers this so I can test?

[2015-12-02 17:04] leesei commented on #38
`a.js` with this statement:
[code]

The flow is updated in the original post.

[2016-01-05 17:41] mattdesl opened #39 "semistandard / multiple environments"
Hey! I am starting to use `semistandard` on some projects to conform with style guides at work. I still prefer regular `standard` on my own side-projects, though. Any suggestions on how I can switch between them easily, without changing the `"command"` field in my StandardFormat settings each time?

Thanks for this great tool, I use it constantly. :+1:

[2016-01-05 18:18] bcomnes commented on #39
It wasn't a strong consideration when I wrote it, but I too have been struggling with toggling it on and off for projects that use/don't use it (along with the linter).

I've tossed around ideas to use the presence of standard or semi-standard in DevDependencies to decide which formatter to use, or to autodetect n number of semicolins or something, but none of it is implemented.  Maybe it could al

[2016-01-06 16:30] mattdesl commented on #39
Maybe `autodetect` could be behind a flag (disabled by default) since it's a bit magical. But ideally it could do a series of things:

- `package.json` config for one or the other is a good indication, but not all projects need config
- devDeps/deps to see if I'm using `standard` or `semistandard`, but not all projects have it actually installed (some just assume standard)
- last (and most CPU int

[2016-01-06 16:31] mattdesl commented on #39
And if autodetect fails it just falls back to one or the other, based on user preference in package settings.

[2016-01-20 17:46] andrewcallahan opened #40 "a space is being added when there are default values set in parameters"
Here is an example.

I write a function that has default values assigned to at least one parameter that is not the last parameter:

[code]

When I use the auto format on save feature in sublime, it 'corrects' my code by adding a space in between `null` and the second comma.

[code]

Then when I run `standard` from the command line, it tells me that this is incorrect.

[code]

So, basically this ex

[2016-01-20 18:17] bcomnes commented on #40
Thanks for the report @andrewcallahan !  I appreciate that.  It looks like this is an issue with https://github.com/maxogden/standard-format itself and not the sublimetext plugin which just runs that.

I help maintain that as well, and can move the report over there.

The formatter has terrible ES6 support at the moment and its something that I would like to get fixed.  (The standard liner works q

[2016-01-28 05:37] nerdpad opened #41 "How to ignore a file?"
How do I ignore a file from getting auto formatted?

I have r.js build file which begins with `(`. After format a semicolon is added `;(`, which causes r.js to break.

[2016-02-11 18:39] mattdesl opened #42 ""Error Formatting Selection(s)""
Lately I've been getting this error in console when using `semistandard-format`

Settings:

[code]

Works fine with `standard-format`. Not sure if I should open an issue in `semistandard-format`. Strangely it used to work fine, so I'm not sure how things have changed.

[2016-02-11 19:04] bcomnes commented on #42
Usually that occures when there is a syntax error  but maybe something changed.  @Flet any ideas?

[2016-03-08 23:01] 0x80 opened #43 "Please install standard-format / plagued by PATH issues"
A lot of times I'm seeing this in the console:

`StandardFormat: Please install standard-format: 'npm i standard-format -g'             or extend PATH in settings`

Sometimes it works but now for some reason after a restart it can't be found again. It's plagued me before a lot of times so I'm hoping you have some pointers maybe.

I'm using ohmyzsh and I have my nvm path settings in .zprofile and .

[2016-03-11 10:03] JamieMason commented on #42
I've been getting similar the last few days, I'm on standard-format@2.1.1 and get the error even when the only contents of the file are basic and valid eg.

[code]

Please let me know if I can give more information to help debug. Sublime's console just writes "standard-format: error formatting selection(s)"

[2016-03-13 17:10] 0x80 commented on #43
I found these instruction for a different sublime plugin, and following that standard-format also seems to work again.

[code]

[2016-03-14 09:38] JamieMason commented on #42
Downgrading to `npm i -g standard-format@2.0.0` fixed it for me.

/cc @bcomnes @mattdesl

[2016-03-23 13:33] danielbaak opened #44 "Standard Format not available in Package Control"
When searching package control (on Sublime Text Build 3103) for `standard` no standard format package seems to be available, the only found packages are
 * SML (Standard ML)
 * SublimeLinter-contrib-semistandard
 * Strapdown Markdown Preview

am I missing something or misreading the installation steps described in the readme?

[2016-03-24 11:07] danielbaak commented on #44
I had some sort of connection issue... problem solved.

[2016-03-24 11:07] #44 closed

[2016-03-24 19:20] bcomnes commented on #44
Cool!  Glad that got fixed.

[2016-03-31 17:01] brupelo opened #45 "Removing semicolon on es6 multiline strings"
Hi,

If you're using es6 multiline strings in some nodejs script, sublime-standard-format will get rid of semicolons at the end of the line, which is not cool if you're using embedded glsl shaders, ie:

BEFORE:

  var vertex_src = `
        attribute vec2 a_position;
        void main() {
            gl_Position = vec4(a_position,0,1);
        }

AFTER:

  var vertex_src = `
        attribute vec2

[2016-04-26 05:52] SkullMasher commented on #43
I do not use nvm. standard work but not standard-format.

[2016-04-26 17:10] bcomnes commented on #43
I had an idea to call `/usr/bin/env [command]` the other day.  I'm not sure if that works in sublime's plugin environment, but it might actually fix the issue of resolving the user space environment properly.

[2016-05-04 00:57] fhisashi opened #46 "Error on formating simple function on Windows"
I'm getting an error when trying to save the file or format a simple code, as follows:

![error](https://cloud.githubusercontent.com/assets/3601750/15002669/de6abc32-1179-11e6-9b57-97ba8ee0d7ed.png)

I've done something wrong?
Ps: I alredy have the linting working.

[2016-05-04 16:18] yinzSE opened #47 "not support react jsx?"
before

[code]
after
[code]

[2016-05-04 18:20] bcomnes commented on #47
Hi @yinzSE this is the repo for the sublime plugin, and this is an issue with the actual node module maxogden/standard-format

Closing since its not an issue with the sublime side of things.

[2016-05-04 18:21] bcomnes commented on #47
I hit return too soon!  Woops

To answer you question,  standard-format lacks support for JSX and ES6 currently.  Its been a long running issue that nobody has stepped up to fix yet.

[2016-05-04 18:21] #47 closed

[2016-05-04 18:24] bcomnes commented on #46
Hi @fhisashi this is an issue with maxogden/standard-format and not the sublime plugin, which is just an adapter for that.  Unfortunately there are still a lot of rough edges on standard-format that nobody has stepped up to fix yet (eg ES6 support and JSX etc).

This looks like it will format, but the formatter will noop if there are syntax errors.  Closing for now.

[2016-05-04 18:24] #46 closed

[2016-05-04 18:25] bcomnes commented on #45
Hi! This is an issue with standard-format and not sublime-standard-format, which uses standard-format under the covers.  Closing for now.

Standard-format does not yet support ES6 or jsx unfortunately.

[2016-05-04 18:25] #45 closed

[2016-05-05 09:22] yinzSE commented on #47
thanks much

[2016-05-09 18:29] bcomnes commented on #43
Correction, we can calculate the correct user path (I think in most cases) with:

[code]

This should incorporate PATH stubs used by NPM, and any settings people set in their bash_profile/rc files.

[2016-05-09 18:41] bcomnes commented on #34
We should use automatically supplement the path with the list of folder it has in the window:

[code]

We can use this to iterate through each folder, stat for node_modules/.bin, and add what we find to the front of the path.

[2016-07-07 04:20] zchrykng commented on #39
Is it possible to just configure which you want to use on a per project basis? Just getting started and have one project that needs to stay semi-standard, but the other project is changing to standard.

[2016-07-12 08:25] konsumer commented on #47
It [appears to be solved](https://github.com/maxogden/standard-format/issues/45) upstream (I am using standard-format v2.2.1,) but when I put this in my user-settings, it doen't autoformat:

[code]

[2016-08-17 08:02] DoomyTheFroomy commented on #41
@NerdPad I have the same problem, normally `excludes` would be the setting property, but it does not work, all my json files are also formatted:
[code]

[2016-08-24 10:23] denizdogan commented on #42
I'm getting this even with standard-format@2.0.0.

[2016-08-24 11:07] denizdogan commented on #41
@DoomyTheFroomy I can't reproduce the issue with your exact configuration. Are you using standard-format version 2.2.2?

[2016-08-24 11:56] DoomyTheFroomy commented on #41
@denizdogan just update to 2.2.2, but still no change. Btw. it brings only error if your `json` file starts with a bracket, e.g.:

[code]

[2016-08-24 12:15] denizdogan commented on #41
Hmm, looking at the source code there is indeed some strage behavior. Whenever the user saves a file, the plugin has a couple of rules to determine whether the file is JavaScript or not, see the function is_javascript: https://github.com/bcomnes/sublime-standard-format/blob/master/standard-format.py#L60

I suspect that your file is being detected as JavaScript when you open it and the syntax is au

[2016-08-24 12:29] DoomyTheFroomy commented on #41
@denizdogan yes this will help, but does not work for my case. Because it is a configure file for another program, which I have to configure in exactly this way. This why I was hoping that `excludes` will do what it should and exclude all `json` files in my case. 😏
But thanks for the hint, I could solve my problem, or better say find a workaround. I have switched the file syntax from `JSON (Javasc

[2016-08-24 12:30] denizdogan commented on #41
@DoomyTheFroomy Great, I am currently writing a fix for this, hopefully it will be included

[2016-08-24 12:30] DoomyTheFroomy commented on #41
@denizdogan 👍

[2016-10-05 18:02] xavdid opened #50 "Support for the --fix flag"
Standard now has support for the `--fix` flag and as a result, standard-format isn't (usually) needed anymore ([source](https://github.com/maxogden/standard-format#important-note)).

I really like this extension and it would be great if it could call `standard --fix` on save!

[2016-10-05 18:06] bcomnes commented on #50
Yeah i've been a bad open source maintainer on this lately.  :(

Definately agree.  I think you can can configure it currently, but it should definately be the default.  PRs welcome, but I'm making a real deal todo on this.

[2016-10-05 18:19] xavdid commented on #50
It's ok! It's an awesome plugin and maintaining it can be hard.

I changed the command to `["standard", "--fix"]` but I'm still getting errors. I think that's because of #42 more than anything else though.

[2016-10-05 18:21] bcomnes commented on #50
Crap, I’ll have to dig into that then.  There are sone long needed improvements that I have figured out that need to go in as well…. like userspace ENV var resolution.

[2016-10-05 18:22] xavdid commented on #50
Totally. let me know if there's any other information I can provide you with!

[2016-10-22 16:32] SneakyMax commented on #50
Looks like this is a bit more involved than just changing the command, `standard --fix` uses `eslint --fix`, which doesn't accept formatting from stdin, which is what sublime-standard-format does...

[2016-10-23 23:04] Flet commented on #50
Nice! maybe this should be the default now?

[2016-11-13 04:45] dotcypress commented on #50
Looks nice!

@bcomnes how can i help you with that? I'm really

[2016-11-19 23:08] #50 closed

[2016-11-30 14:55] ErikWittern opened #54 "Saving file with standard js error leads to content being overwritten by error message"
Since a few days, when I save a file that contains a standard js error, the content of that file will be overwritten with the error message produced by standard js. This behavior does only appear if I have `StandardFormat` enabled - disabling the plugin resolves the problem. I attach two screenshots to illustrate the behavior.

I am using version `5.0.0` of StandardFormat, and have Sublime Text Bu

[2016-11-30 18:34] bcomnes commented on #54
Make sure you are running the latest `standard` module.  Can you confirm that?

[2016-11-30 19:07] ErikWittern commented on #54
I checked: I had version `8.3.0` of `standard` installed. I just upgraded (globally) to `8.6.0`. Unfortunately, the error persists, even with the new (latest) version.

[2016-11-30 20:12] bcomnes commented on #54
Unfortunately the plugin doesn't provide much feedback on what its doing at the moment.  The only thing I can think of would be that you have two versions of standard in your path the the plugin is putting together.

Some things to check:

`npm uninstall -g standard`

if you use nvm, this gets complicated because standard could still be living in a different npm location that nvm uses, and the plu

[2016-11-30 20:19] ErikWittern commented on #54
Thank you for all the feedback!

Uninstalling standard (`npm uninstall -g standard`) and reinstalling it did not help. I do use nvm, though, so maybe the problem is caused by other versions of standard being installed somewhere...

The problem actually appears across projects, so I assume that deleting a node_modules folder won't help much.

I might try to figure out if nvm plays a role, but I can

[2016-12-01 13:44] crimx opened #55 "Got error when installing"
Hi, I got error when installing
[code]

And got this when I try to format
[code]

Any idea what went wrong?

[2016-12-04 03:47] bcomnes commented on #55
I think it was a bug in the last release.  I just realized 6.0.1 which should address the issue.  I need to test it out on windows a bit more, but I believe it fixes the above issue.  When Package Controls passes that out, let me know how it goes.

[2016-12-04 03:48] bcomnes commented on #54
I just updated the plugin to 6.0.1.  Once it gets released, let me know if this problem still persists.

[2016-12-04 03:48] bcomnes commented on #43
6.0.1 is out.  Let me know if it resolves this issue!

[2016-12-05 13:31] crimx commented on #55
@bcomnes New errors while installing the new release.

[code]

[2016-12-05 14:17] xmakina commented on #42
Can we get a more detailed error message? I'm still having this problem regardless of the standard-format version installed on a Win10 machine

[2016-12-07 18:51] artbels opened #57 "With new version, does not format when global is not defined"
Before update, it worked even with globals.

"standard": {
    "globals": [ "myVar1", "myVar2" ]
  } - does not work

[2016-12-08 11:14] artbels commented on #57
How to force format ignoring "is not defined" and "is assigned a value but never used" as it was before update?

[2016-12-08 21:45] dusty commented on #42
Here is what I'm getting with this problem.

[code]

I have those in my package.json file under standard/globals.

I switched my user config file to

[code]

And its working again.

[2016-12-09 17:57] jeffbyrnes commented on #42
I think this is related to #38; I’m seeing the same issue using `standard --fix --stdin`.

[2016-12-09 17:59] jeffbyrnes commented on #42
FYI, for those using `semistandard`, this works:

[code]

[2016-12-12 10:07] crimx commented on #55
@evollu New errors while installing
[code]

And this shows when formatting
[code]

[2016-12-12 15:04] bcomnes commented on #55
Uh Oh.  I'll get a fix out this morning.   Thanks for the heads up.

[2016-12-12 18:41] bcomnes commented on #55
@crimx can you post your user settings?

[2016-12-12 21:59] xavdid commented on #54
Hey there, getting this issue with plugin version `6.0.2` and standard version `8.6.0`. I've got nvm, but I confirmed that all 3 installs are using the most up-to-date standard.

It's interesting- running `cat utils.js | standard --stdin --fix` on the command line outputs both the fixed js file and the rest of the remaining errors:

[code]

Without the fix flag, I just get the errors (no formatted

[2016-12-12 22:11] bcomnes commented on #54
I think the linting errors get printed when the formatter fails, but I'm still trying to understand the behavior of --fix flag.  I've seen it when there are major syntax errors in the source code.  Kinda weird.  This might require upstream fixes.

[2016-12-13 03:42] crimx commented on #55
@bcomnes Sure

[code]

[2016-12-13 04:08] bcomnes commented on #55
Hrrm everything looks kosher.  I'll try to mess around on a windows machine to see if I can reproduce.

[2016-12-22 14:39] johannes-z opened #58 "format in html script tags"
I'm not sure if this is an issue with `sublime-standard-format` or it's dependencies, but the formatting doesn't work for me in `.html` files with a `script` tag. If I extract the `script` tag content to another file, save the file with a `.js` extension and then run the formatter, it works as expected. There is no error output when I try to run the formatter on a `.html` file.

I even explicitly

[2016-12-22 18:44] bcomnes commented on #58
Oh hrmm.  Yeah I think that maybe `standard --fix` might not have support for html files.

[2016-12-23 06:58] johannes-z commented on #58
That's what I suspected. But this also means that it's either the responsibility of `standard-format` or `sublime-standard-format` to handle html files correctly, right? Are there any plans or should I post this issue on `standard-format`.

What would be nice as some sort of work around is a `standard format: current selection`. Then I could just select the tags content, format, and be done with i

[2016-12-30 04:44] johannes-z commented on #58
Actually the sublime linter works perfectly fine with `script` tags. It requires the syntax (`.sublime-syntax`) to set the `scope:script.js` though. I just updated another syntax and the linter works for the other syntax as well. Maybe I can take a look at it and do a pull request, but my python sucks.

[2016-12-30 13:50] johannes-z opened #60 "Run process in background"
Can we run the process in the background, so sublime doesn't freeze? Might require a notification in the status bar though, so the user knows what's happening.

[2016-12-30 17:36] bcomnes commented on #60
We might be able to do this for the format command itself, but I think in order to handle the pre-save hook, it has to be synchronous.  It became more noticeable when switching to the new `--fix` flag which runs quite a bit slower than the previous formatting command.  It was a decision I made a long time ago, so I don't totally remember the justification behind it.

[2017-01-06 08:09] #58 closed

[2017-01-06 18:41] bcomnes commented on #58
I never released this!  Gah doing that now.

[2017-01-06 18:48] bcomnes commented on #58
OK it is done!

[2017-01-08 17:26] pito-svk opened #61 "Nothing happes after installing nvm"
Hi,
I have an issue after I uninstalled nodejs and installed nvm after that,so I can switch between node versions.

After configuring nvm to load in .zshenv instead of .zshrc, I managed to have working SublimeLinter for standard format, however this package doesn't work after I save file.

In sublime logs I don't have any errors and have "format_on_save": true in package settings.

I am using osx.

[2017-01-08 19:50] bcomnes commented on #61
Standard format will attempt to calculate your user environment from an interactive shell it spawns on launch.  It defaults to using bash, so if you have not configured bash to contain your nvm settings, it probably won't pick up that configuration.   SublimeLinter does some black magic to aggressively find user environment settings that we haven't had a chance to implement yet.

Two ideas that mi

[2017-01-08 19:51] bcomnes commented on #61
If all else fails, or you want the Janky solution, you can add arbitrary search path's to the `"PATH": [],` field in your user settings.  These preside environmental search paths.

[2017-01-08 19:54] pito-svk commented on #61
Thanks, the solution with "get_path_command" works!

[2017-01-08 19:54] #61 closed

[2017-01-08 20:03] bcomnes commented on #61
Sweet!  That was easy.  I don't use zsh / nvm enough to really test it perfectly.  I can add a note to the READ me / install notes.

[2017-01-16 22:15] pito-svk opened #62 "standard --fix on key"
Is possible to run standard --fix when I press some key? I mean without saving, it will just format and let save for me.

Thanks!

[2017-01-16 22:17] bcomnes commented on #62
Yeah, I think the keymaps cover that right? https://github.com/bcomnes/sublime-standard-format/blob/master/Default%20(OSX).sublime-keymap

[2017-01-16 22:18] bcomnes commented on #62
I usually pull down the command pallet and do it from there.  Im saver :P

[2017-01-16 22:20] pito-svk commented on #62
Great, thx.

[2017-01-16 22:20] #62 closed

[2017-03-15 23:07] xiamike commented on #54
Actually same issue for me.

using plugin `6.1.0`
![image](https://cloud.githubusercontent.com/assets/888943/23974327/69f04380-0a26-11e7-8fde-99987adcdde5.png)

[code]

Interestingly, my command line output is also broken, but when i run `standard --fix` it does it correctly on my project.  just not on save file

[2017-03-15 23:08] bcomnes commented on #54
@xiamike Which OS?

[2017-03-15 23:10] bcomnes commented on #54
@xiamike also set "log_errors": true in your format config and maybe we can find some hints there.

[2017-03-15 23:12] xiamike commented on #54
macOS Sierra, Version 10.12.3 (16D32)

also, strangely working now...
when I run `npm install standard` it installs v7.0.1 to my project `node_modules`
when I run `npm install standard -g` it installs v9.1.0 globally.

I uninstalled an older version of standard which was in `node_modules`, and reinstalled the global one, restarted sublime and it's working now.

Not sure if that's helpful for other

[2017-03-15 23:16] bcomnes commented on #54
The plugin defaults to local dependencies first, if it finds them.  It falls back to global dependencies if they are present as well.

Works well with 8 and 9 as far as I am aware.  I think 7 works too.

[2017-03-15 23:17] xiamike commented on #54
@bcomnes i reinstalled the old module, same error appears, but `log_errors` doesn't show anything new in the output.

Actually I'm almost certain it's v7.1.2 standard that's in `project/node_modules` now.  When I again run `npm install standard` the issue pops up, which makes sense if it defaults to the local dep.

With the older version there, again overwrites my file with
[code]

removing it and

[2017-03-15 23:25] bcomnes commented on #54
I would say update to the latest standard then in the project!  Bump the version in package.json and reinstall the project Deps.  I should probably add a check on the version number.  We already parse it out at https://github.com/bcomnes/sublime-standard-format/blob/master/standard-format.py#L105-L108

[2017-03-26 03:12] bcomnes commented on #35
I ended up using recessive walks looking for node_modules and the user path as the source of truth.  Closed!

[2017-03-26 03:12] #35 closed

[2017-04-30 22:05] adnanademovic opened #63 "Breaks the PATH environment variable"
Path variable gets changed to "agent pid <number>". Suffice to say, causes lots of things to fail outside the package, including other packages.

I assume it's [standard-format.py#L123](https://github.com/bcomnes/sublime-standard-format/blob/master/standard-format.py#L123) that's the culprit here.

[2017-04-30 22:31] bcomnes commented on #63
What OS are you running on?

[2017-04-30 22:36] adnanademovic commented on #63
Linux

[2017-04-30 22:43] bcomnes commented on #63
I tries to calculate the users real path by running https://github.com/bcomnes/sublime-standard-format/blob/master/StandardFormat.sublime-settings#L56  This isn't guaranteed to work on all systems, but in my tests works alright.  Any ideas on how to improve that?

[2017-04-30 22:44] bcomnes commented on #63
This behavior can also be disabled here: https://github.com/bcomnes/sublime-standard-format/blob/master/StandardFormat.sublime-settings#L53

[2017-04-30 23:15] adnanademovic commented on #63
The only problem is that it's changing the process' path variable. I assume you're doing that for the subprocess.
Python's `subprocess.Popen` has an optional `env` parameter. You can extend the existing environment if that is your desire, and it will work as if you modified the actual env. I just tested the following code with a dummy example.

[code]

Gonna go to sleep now

[2017-04-30 23:58] bcomnes commented on #63
I don't think I intended to modify the process env.  I'll take a look.

[2017-05-01 08:50] adnanademovic commented on #63
I've made a fix that works nicely on my end

[2017-05-08 18:35] #63 closed

[2017-05-19 15:18] kldavis4 commented on #54
I am running into this issue now as well after recently upgrading standard to 10.0.2 installed within the project. Any ideas how to troubleshoot further?

[2017-05-19 15:19] bcomnes commented on #54
What os?  Check out the default preferences for some ways to turn on more verbose logging.

[2017-05-19 15:20] bcomnes commented on #54
Please describe the symptoms and check the sublime console for errors.

[2017-05-19 15:50] kldavis4 commented on #54
OSX 10.12.4

I can run standard from the command line:
`node_modules/.bin/standard --fix index.js`

and I get this warning on stdout:

`The react/jsx-space-before-closing rule is deprecated. Please use the react/jsx-tag-spacing rule with the "beforeSelfClosing" option instead.`

If enable StandardFormat and run it on my file in SublimeLinter it inserts the warning message above at the top of the f

[2017-05-22 13:06] nikoladev commented on #54
@kldavis4 I had the exact same error and I think I've found the source. It seems the error is in `node_modules/eslint-config-standard-jsx/eslintrc.json` and it's fixed in [this commit](https://github.com/feross/eslint-config-standard-jsx/commit/c13637ecbc45c0d7ccfb3c608f794ec318c6e6a3).

That fix still hasn't made it into a release, and I don't know when it will, but if you manually apply the fix

[2017-05-22 17:30] bcomnes commented on #54
FWIW, every time I've been able to re-create this issue is when an old version of standard is used to format the code. If someone can point me to a file in a gist or repo hash, that is reproducible I can dig into this more.  I think maybe checking the version of standard every time would also help mitigate this issue.

[2017-05-22 17:59] kldavis4 commented on #54
@nikoladev that just suppresses the warning, though, right? It doesn't fix issue with the error message going into the file being formatted, does it?

@bcomnes any thoughts on the fact that using global standard binary seems to work but the node_modules binary causes the warning to be inserted? (besides version mismatch)

[2017-05-22 18:04] bcomnes commented on #54
From what I've come across, when the buffer gets replaced by an error message, its because someone tried to use an old standard that didn't have the correct --fix API that this plugin expects.   Maybe try setting `"check_version": true`, so that you get the version from the perspective of sublime.  Its weird that it looks like you are running standard 10, but still getting this issue.

Perhaps sta

[2017-05-22 18:18] kldavis4 commented on #54
Could there be a (peer) dependency in standard that might be different when running from global versus node_modules? Maybe something that would break `--fix`.  I tried adding standard to react-starter-kit and formatting and didn't have the issue regardless of whether i was using the global version of standard.

[2017-05-22 18:20] bcomnes commented on #54
I gosh, I hope not.  The way the plugin works is it walks up to the root fs, looking for node_modules/.bin folders to supplement the PATH with when searching for the standard bin.  Like I said though, turn on the check version setting in the plugin settings and see what version it reports.

[2017-05-22 18:46] kldavis4 commented on #54
Same version either way: `standard version: ('10.0.2\n', b'')`

[2017-05-22 18:48] bcomnes commented on #54
Can you gist a sample buffer that triggers the issue?

[2017-05-22 19:04] kldavis4 commented on #54
You mean a file where it occurs? This one-liner will do it: `export default () => {}`

[2017-05-22 19:12] bcomnes commented on #54
Very strange.  Should work!

![sf](https://cloud.githubusercontent.com/assets/166301/26324429/933a9452-3ee7-11e7-973a-8e5327f59dd5.gif)

No idea why thats not working for you.  Try in an empty project with just standard to see if its specific too your global environment or just the project.  And if its specific to the project, what recipe of dependencies are causing the issue.

[2017-05-22 19:15] kldavis4 commented on #54
yeah, I am beginning to think it is something to do with the project dependencies. I'll see if I can narrow it down and report back.

[2017-05-22 19:19] bcomnes commented on #54
Sorry you are running into issues.  If you do find a situation that triggers this, I would be happy to try to fix.

[2017-05-22 19:27] kldavis4 commented on #54
thanks for your help in running it down. It sounds like from what you are saying that there is a problem with `standard --fix` right (which in my case might be due to some funky dependencies)? should I be able to repro this using just the command line?

[2017-05-22 19:31] bcomnes commented on #54
Hard to say.

[2017-05-23 09:16] nikoladev commented on #54
@kldavis4 Yeah, it actually stops the insertion of that line you quoted:

`The react/jsx-space-before-closing rule is deprecated. Please use the react/jsx-tag-spacing rule with the "beforeSelfClosing" option instead.`

Also, I share your suspicions about project dependencies having something to do with it. I'll do some more testing and I'll see if I can figure out something.

[2017-05-23 10:39] nikoladev commented on #54
@bcomnes The bug with the inserted text at the top of the file can be reproduced by adding `standard` as a devDependency to a fresh `create-react-app` build. This method isn't very precise at determining which exact dependencies cause the bug (because `create-react-app` has A LOT of dependencies), but hopefully it will help a little bit.

Here's a quick way to reproduce the bug.

Create a new fold

[2017-06-02 05:48] tennessine commented on #61
<img width="936" alt="wx20170602-134615 2x" src="https://cloud.githubusercontent.com/assets/4545879/26712537/e207b83e-4799-11e7-8307-7d2a3dc19f38.png">

mac os、nvm、oh my zsh

[2017-06-21 13:30] moltar opened #66 "Feature Request: Ability to set config on per-project basis"
Use case: some older/legacy projects do not want to be "standardized". Now, I have "format on save" turned on, and it's a global settings. Forgetting to turn it off, when switching to legacy projects, causes a lot of undesirable rewriting to happen.

Would be great to have the ability to disable format on save, and maybe other settings on per-project basis.

Thanks.

[2017-06-21 16:28] bcomnes commented on #66
Format on save is disable'able.  Check the command palate for  https://github.com/bcomnes/sublime-standard-format/blob/master/Main.sublime-menu#L74 (Format on Save)

Per project auto enable/disable:

If the plugin can't find standard in its search path, it will not perform a format, even if format-on-save is turned on. You can take advantage of this behavior to automatically enable and disable the

[2017-06-21 18:15] moltar commented on #66
Thanks, I was thinking of this solution too. I guess it'd work for now. But still, would be good to have settings per project :)

[2017-06-21 18:53] bcomnes commented on #66
Where would you suggest the settings live?  Package.json?  Sublime Project file settings?

[2017-06-23 20:54] moltar commented on #66
Sublime Project settings I think would be best.

[2017-06-23 20:59] bcomnes commented on #66
I don't use those to much, but you are right, that would be a good addition. I've seen that pattern in VS Code recently.

[2017-07-06 17:04] AndrewTziAnChan opened #67 "TypeError: argument of type 'NoneType' is not iterable"
Was attempting to run a simple format that had worked previously.

Turned on loud errors and found this error in the console:

Traceback (most recent call last):
  File "C:\Program Files\Sublime Text 3\sublime_plugin.py", line 818, in run_
    return self.run(edit)
  File "standard-format in C:\Users\Achan\AppData\Roaming\Sublime Text 3\Installed Packages\StandardFormat.sublime-package", line 271,

[2017-07-06 18:40] bcomnes commented on #67
Hrmm... looks like its trying to iterate over an empty command field.  Let me get back to you.

[2017-07-06 20:55] bcomnes commented on #67
Looks like there is a bug on windows.  I'll look into it this evening.

[2017-07-07 02:37] bcomnes commented on #67
Fixed in https://github.com/bcomnes/sublime-standard-format/releases/tag/v6.1.3

Package control should auto update within the hour.  Apologies for the inconvenience and thanks for pointing this out.

[2017-07-07 02:37] bcomnes commented on #67
Let me know if there are still issues and we can reopen.

[2017-07-07 13:31] AndrewTziAnChan commented on #67
There's now a different error. Unsure if related to previous error.

Traceback (most recent call last):
  File "C:\Program Files\Sublime Text 3\sublime_plugin.py", line 818, in run_
    return self.run(edit)
  File "standard-format in C:\Users\Achan\AppData\Roaming\Sublime Text 3\Installed Packages\StandardFormat.sublime-package", line 272, in run
  File "standard-format in C:\Users\Achan\AppData\

[2017-07-07 17:57] bcomnes commented on #67
Ah dang.

I'll try to re-create.

[2017-07-07 17:58] bcomnes commented on #67
@AndrewTziAnChan can you post your user config for the plugin, and also explain how you are installing standard?  (e.g. a global install or a project local dev-dependency?)

[2017-07-07 19:45] AndrewTziAnChan commented on #67
Ah, sorry for the red herring. While playing around with the various settings, I set my user configs to not use the global path so node couldn't be found.

I've set use_global_path back to true.

Now, the format is working. The only issue now is that whenever the standard format is run, the following is output to the top of the file:

[2017-07-07 21:05] bcomnes commented on #67
I'll twiddle with the settings more on windows to make sure there are no fail states.

As for the output inserting into the file, it sounds like maybe an old version of standard is installed.  I've been meaning to put hard check on this in the plugin for a while.

[2017-07-07 21:52] AndrewTziAnChan commented on #67
The version installed in my project currently seems to be the latest version: 10.0.2

That specific output about the jsx-space-before-closing rule is still being written at the top of the file.

Is there any other setting I should change?

[2017-07-07 21:58] bcomnes commented on #67
Can you post the output from the sublime console as you switch between JS files in a project that is triggering the issue?

[2017-07-07 21:59] bcomnes commented on #67
There should be a message from standard-format with the global and local search path as well as the path to the command it's found

Enable these settings:

https://github.com/bcomnes/sublime-standard-format/blob/master/StandardFormat.sublime-settings#L44-L47

[2017-07-17 13:30] AndrewTziAnChan commented on #67
Apologies, was away on personal business.

Here's output from searching for standard locally:

Here's standard version used:

Here's output when invoking fix:

[2017-08-08 20:15] flxsu opened #68 "b'env: node: No such file or directory\n' on "standard --fix""
Hi,

every time I try to use standard-format, nothing happens and I get this error in my console.

`b'env: node: No such file or directory\n' `

I use the fish shell and nvm, but I also have my nvm config set up for Bash.
Both .bashrc and .bash_profile have the proper node directory in their $PATHs.

Another guy had the same issue [here](https://github.com/bcomnes/sublime-standard-format/issues/61

[2017-08-08 21:03] bcomnes commented on #68
I think some of the recent changes busted nvm for some people's environments.  I unfortunately don't have time to look into this right away, so PRs are welcome if you are feeling adventurous. The plugin needs a bit of a rewrite however since its gone through some major revisions without a holistic approach to how environment is generated.  Unfortunately Sublime leaves real user environment resolut

[2017-08-08 21:17] janoluhs commented on #68
I have no clue why, but copy-pasting "standard-format.py" from this repo into a "Sublime Text 3/Packages/StandardFormat" folder fixes it.

I'm guessing that overrides the packed .py script... but since both are version 6.1.3 I don't know what that changes. Have you got any idea?

Also is it ok/better to just add the path manually instead?
`"PATH": ["my_nvm_bin_path"]`

[2017-08-08 21:28] bcomnes commented on #68
That will work too, but the idea was that you didn't have to do that.

[2017-08-08 21:47] janoluhs commented on #68
I'd rather not overwrite plugin files on my first day of using Sublime. Especially since I don't even know why that works when I didn't change a single line of code.

[2017-08-10 10:06] nikoladev commented on #54
Version `10.0.3` of `standard` has fixed this issue. At least for me :)

[2017-11-02 00:30] shtse8 commented on #55
I have the same issue, any update on this ?

[2017-11-23 13:29] mesqueeb opened #70 "[Request] support .vue files"
My Vue files are currently not being cleaned up, even though I added it in the "extentions" array in the settings.
I'd love support for .vue files!

[2017-11-25 05:46] Pa-wN commented on #70
me too!!!

[2018-02-12 02:48] mesqueeb opened #71 "indentation formatting error after several comment lines"
I have a formatting problem where the there are countless of indentation mistakes after a few lines of comments.

I have deleted many lines for the sake of focussing on just the wrong formatting.

**before:**
[code]
**after:**
[code]

Please see this final part where all indentation gets really messy.

[2018-02-12 16:42] bcomnes commented on #71
Likely an upstream issue with the fix code of the different ESlint rules inside of standard.  This plugin is just plumbing around standard's fix flag.  What version of standard are you running?

[2018-02-13 03:25] mesqueeb commented on #71
@bcomnes
`standard --version`
**10.0.3**

[2018-02-16 12:48] mesqueeb commented on #71
@bcomnes Can I check the ESlint rules inside standard to see if anything is set wrong?
I'm not sure how to solve this issue. : S

[2018-03-22 11:52] Sundarasan opened #72 "Ignore files that were created before a given date"
I work on a 4 years old project. I do not want to auto-format old files, because the diff may result in huge **code conflict** with the pending "Pull Requests".

• It would be great if StandardFormat has option to **ignore files** which were created before a given date.

So only newly created files (i.e after StandardFormat installation) will be auto-formatted and not the 1000s of old files.

[2018-03-22 18:32] bcomnes commented on #72
Sublime's settings system is fairly limited.  Does inserting an eslint disable comment in the file disable the fix behavior on it?  I forget.

[2018-04-16 21:32] numbbbbb commented on #47
I have the same problem and find this issue. After searching and testing for one hour, finally I find the solution.

Although this is an old issue, I think someone like me will come here through google. So maybe it's useful to write down my solution and close it again. By the way, @konsumer you can solve the problem if you still use this package now.

So the problem is, only add `jsx` to `extensio

[2018-04-16 22:01] konsumer commented on #47
It ended up just working when I set the default syntax for "javascript (babel)" for js files. I think maybe that accomplishes the same thing. I like your solution, though, as it's something I can easily save in a settings file when I migrate to a new system.

[2018-11-13 08:57] skapin commented on #70
I do agree with that

[2019-03-12 18:48] 0x80 commented on #43
I'm not using sublime anymore, but closing this because it's very old by now.

[2019-03-12 18:48] #43 closed

[2020-04-25 07:22] stiang opened #73 "Project -> Refresh Folders causes StandardFormat to crash (causing the refresh to fail)"
My dev files reside on a Linux server which I have NFS mounted on my Mac (10.15.4) to /some/local/path.

Since file watching doesn’t work (reliably) over NFS I have to use the ST command Project -> Refresh Folders whenever new files are added. This is no problem in itself, but I’ve discovered that StandardFormatter apparently causes that command to fail. Here’s what I see in the console:

[code]

[2020-04-25 16:06] bcomnes commented on #73
I can take a look. Easiest workaround is to work with a real drive for now. It shouldn’t fail like that though so at a minimum we should gracefully fail if something goes wrong.

[2020-04-25 20:28] stiang commented on #73
Thanks, it would be great if you could take a look, since my workflow is based entirely on NFS-mounted disks now. The only workable workaround for me would be to disable StandardFormat, which I hope I won’t have to do :)

[2020-04-29 17:03] bcomnes commented on #73
Ok, I have a PR https://github.com/bcomnes/sublime-standard-format/pull/74 that should handle this case a little bit better. Let me get that released today, and after a few hours, sublime's package registry should pick it up.

[2020-04-29 20:20] #73 closed

[2020-04-29 20:25] bcomnes commented on #73
Give it a whirl when the plugin updates to 6.2.1.  Could be other broken assumptions.  Sounds like sublime's API contract is different on NFS mounts.

[2020-04-29 20:26] #24 closed

[2020-04-29 20:26] #25 closed

[2020-04-29 20:27] #31 closed

[2020-05-04 16:48] bcomnes commented on #72
Closing.  Thank you for the idea but I dont have time to implement and eslint ignore comments should allow you to selectively turn it off per file in a declarative manner with less moving parts.

[2020-05-04 16:48] #72 closed

[2020-05-04 16:54] bcomnes commented on #71
Seems to format fine now.  Further refactoring could improve the format.

Results:

[code]

[2020-05-04 16:54] #71 closed

[2020-05-04 16:55] bcomnes commented on #70
Closing because stale.

[2020-05-04 16:55] #70 closed

[2020-05-04 16:56] bcomnes commented on #68
Closing due to lack of movement.  If there is something actionable on this, reopen or start a new issue.

[2020-05-04 16:56] #68 closed

[2020-05-04 16:57] bcomnes commented on #67
I dont have a windows machine anymore to test on.  Sorry, but I have to close unless there is something else we can have action on.

[2020-05-04 16:57] #67 closed

[2020-05-04 16:58] bcomnes commented on #66
Closing for now.  If someone wants to work on this re-open or recreate.

[2020-05-04 16:58] #66 closed

[2020-05-04 16:59] bcomnes commented on #60
Open to a PR here.  Closing until someone wants to work on it.

[2020-05-04 16:59] #60 closed

[2020-05-04 17:00] bcomnes commented on #57
Can't reproduce.   The standard config block in package.json works in my tests.  Please reopen if you can provide more specific ways of reproduction.

[2020-05-04 17:00] #57 closed

[2020-05-04 17:01] bcomnes commented on #55
Closing, stale.  Might be fixed.   Please reopen a new issue if you run into this.

[2020-05-04 17:01] #55 closed

[2020-05-04 17:01] bcomnes commented on #54
Should be fixed.

[2020-05-04 17:01] #54 closed

[2020-05-04 17:02] #42 closed

[2020-05-04 17:02] bcomnes commented on #42
Stale.  Please reopen a new issue with specifics on reproduction if you are still having issue.

[2020-05-04 17:03] bcomnes commented on #41
Use the standard ignore block in package.json

[2020-05-04 17:03] #41 closed

[2020-05-04 17:03] #40 closed

[2020-05-04 17:03] bcomnes commented on #40
Issue addressed in new versions.

[2020-05-04 17:04] bcomnes commented on #39
Set the cmds you want run in settings and set the order of precedents.  If it can be found locally it will be run.  Otherwise its a noop.

[2020-05-04 17:04] #39 closed

[2020-05-04 17:04] bcomnes commented on #38
Stale.

[2020-05-04 17:04] #38 closed

[2020-05-04 17:05] bcomnes commented on #34
Please reopen new issues if there is anything remaining on this issue.

[2020-05-04 17:05] #34 closed

[2020-05-04 18:48] mesqueeb commented on #70
but the issue remains... I think you should just keep open until someone goes along who can PR.

[2020-12-12 00:59] pmjam opened #77 "Not formating"
Suddenly, I am facing an issue where it is not formatting on save.

The following code is not being formatted:
[code]

Console:
[code]

But the following is formatted:
[code]

If I run the standard command on the command line it formats both codes.

Do you have any idea why?

[2020-12-12 03:10] pmjam commented on #77
I downloaded [v6.2.1](https://github.com/bcomnes/sublime-standard-format/releases/tag/v6.2.1) then it worked.

[2020-12-12 22:09] bcomnes commented on #77
We made some changes recently and may have a regression.  v6.2.1 was the last version before the updates.

I have it reproduced locally, will fix.

[2020-12-12 22:28] #77 closed

[2020-12-12 22:31] bcomnes commented on #77
Ok just released 6.4.1.  Let me know if that works for you.  Just tested locally.

[2020-12-14 13:20] pmjam commented on #77
Sublime automatic updated, it worked. Thanks!!

[2021-02-17 20:53] carlpett opened #79 "ts-standard: Unable to locate the project file"
I'm trying to use this plugin with [`ts-standard`](https://github.com/standard/ts-standard/) (`standard` for TypeScript), but running into a problem which I think is due to the plugin `chdir`:ing to the file location:
https://github.com/bcomnes/sublime-standard-format/blob/cddd2d7225afa4f4be0496b0c3ad7ba906c8e08b/standard-format.py#L285

The `ts-standard` executable needs to read the `tsconfig.jso

[2021-02-18 17:22] bcomnes commented on #79
Hey I'm on vacation and will try to find some time to read through this when I have some downtime.

[2021-04-14 19:42] bcomnes opened #80 "eslint_d leaks errors in format"
To reproduce:

Put an error in an eslint config, and try to format with eslint_d with this plugin.

[2021-04-26 14:33] bcomnes commented on #79
Sorry, been a while since you opened this, hopefully you didn't fully move on.

I think the idea of keeping the working directory in the root of the project is a fair assumption, although it might have some side effects in some cases.  I'll read through how this works again and see if that could make sense.

[2021-04-26 15:15] bcomnes commented on #79
Looking specifically for the dir that contains tsconfig.json is super ts specfic.  Would it be safe to change the process to the nearest dir containing package.json found above the file being formatted?

We could make this customizable if we have to, but I think I will start with trying that.

[2021-04-26 18:09] carlpett commented on #79
I _sounds_ like it should be safe for all my use cases, I'm not sure if there are edge cases around multi-level repos or something though? But I'd be happy enough with that approach :)

[2021-04-26 18:09] carlpett commented on #79
And thanks for coming back to this! :heart:

[2021-04-26 23:55] bcomnes commented on #79
You are right. Lerna being the example.

The ideal would be ts-standard being more flexible on finding config files, but I think project / folder root might help out a lot.

[2021-04-29 20:22] #79 closed

[2021-04-29 21:11] bcomnes commented on #79
https://github.com/bcomnes/sublime-standard-format/releases/tag/v6.4.2 will be hitting package control soon.  Let me know how that works for you.

[2021-05-01 15:57] carlpett commented on #79
Works nicely, thanks! With this in place I found another bit needed for `ts-standard` support, a PR is coming for that.

[2021-05-01 16:49] bcomnes commented on #79
Sweet yeah let me know

[2021-05-12 19:37] bcomnes opened #83 "Update to ST4 runtime"
ST4 has a new plugin host runtime you need to opt into.

[2021-05-12 19:40] bcomnes opened #84 "Use offical settings override UI"
When you open settings, it opens a side by side with user/defaults that you can copy over easy.  Sublime Standard Format doesn't seem to do that.  Fix it

[2021-05-12 19:41] bcomnes commented on #83
[1:39 PM]
https://www.sublimetext.com/docs/api_environments.html

[1:40 PM]
if you want to support older and newer builds, then you need distinct tags on the builds and multiple versions in the channel to specify which to use
NEW
[1:41 PM]
an example of that is something like this: https://github.com/STealthy-and-haSTy/SublimePackages/blob/master/packages.json --@odatnurd

[2021-08-06 19:18] bcomnes commented on #83
Done

[2021-08-06 19:18] #83 closed

[2021-08-16 19:08] prabhavdogra opened #85 "Disable auto-formatting on save"
Can we disable auto formatting of code on saving as it removes indentation from macros and #ifdef among other things.
[code]
[code]

[2021-08-16 19:10] bcomnes commented on #85
You can toggle format on save on or off from the context menu. It sometimes gets in the way. What formatter is doing this?

[2021-08-16 19:22] prabhavdogra commented on #85
I tried all the pre installed formatters and all of them are formatting it in in the wrong way same is happening for macro of loops
[code]

Also a little fore details about where in context menu will be greatly appreciated.
Thank you,

[2021-08-16 19:25] bcomnes commented on #85
The ctl-p menu then filer for standard format
<img width="716" alt="Screen Shot 2021-08-16 at 1 24 51 PM" src="https://user-images.githubusercontent.com/166301/129618631-599c6a8c-eb02-402b-b637-db9bfe34574e.png">

[2021-08-16 19:38] #85 closed

[2022-04-11 08:40] gacallea commented on #84
the weird thing is that the Commands do work correctly. It should be an easy fix.

[2022-04-11 09:57] gacallea commented on #84
here :)

[code]

[2022-04-11 12:15] gacallea commented on #84
this + plus a number of compliance/standards fixed here https://github.com/bcomnes/sublime-standard-format/pull/88